body{font-family: Verdana, Geneva, Tahoma, sans-serif; background-color:aquamarine;}

h1{text-align: center;}

section{width: 400px;}

/*FORMATANDO O BLOCO 1*/
.bloco1 p{color:blueviolet;} /*formatando todas as tags P dentro da classe 'bloco1'*/
.bloco1 > p{text-decoration: line-through; text-align: end;} /* esse seletor > irá selecionar todas as filhas diretas da tag mãe
line-through= corta o texto*/
.bloco1{ border:10px red solid;box-sizing: border-box; padding-top: 10; padding-bottom: 50px; }
/*solid = concretiza a borda na cor escolhida*/

/*quando colocamos dois valores no margin. o 1º valor afetará o top e o bottom. o 2º afetará o left e o right*/

/*FORMATANDO O BLOCO 2*/
.bloco2{border: 2px solid green; padding: 40px;box-sizing: border-box;}
/*box-sizing: border-box => irá alterar o comportamento padrão do dimensionamento do elemento HTML. De forma que quando aplicado border e padding, a estrutura não irá expandir. mas ficará com o mesmo tamanho, so que recalculado.*/